<!DOCTYPE html>
<html lang="zh-CN">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge,chrome=1" />
    <meta name="renderer"
          content="webkit" />
    <meta name="description"
          content="" />
    <meta name="keyword"
          content="" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes, shrink-to-fit=no" />
    <meta name="author"
          content="DCanmera" />
    <title>启航科技开发公司纳新</title>
    <link rel="shortcut icon"
          href="favicon.ico"
          type="image/x-icon" />
    <link rel="stylesheet"
          href="css/reset.css" />
    <link rel="stylesheet"
          href="libs/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet"
          href="css/common.css" />
    <link rel="stylesheet"
          href="css/byteLife.css" />
    <script src="libs/jquery/jquery.min.js"></script>
    <script src="libs/bootstrap/popper.min.js"></script>
    <script src="libs/bootstrap/bootstrap.min.js"></script>
    <script src="js/common.js"></script>
    <script src="js/byteLift.js"></script>
  </head>

  <body>
    <div class="wrapper">
      <!-- 头部栏start -->
      <div class="header">
        <div class="logo">
          <div style="width: 200px;height: 45px; margin-top: 8px;" >
            <img src="images/job-imgae/qhlogo.png" height="50" width="100"/>
          </div>
        </div>

        <div class="nav">
          <ul>
            <li><a href="index.html">主页</a></li>
            <li><a href="job.html">部门</a></li>
            <li><a href="recruitmentNews.html">招聘流程</a></li>
            <li class="nav-active"><a href="byteLife.html">启航文化</a></li>
            <li class="next-item"><a href="show.html">去报名</a></li>
          </ul>
        </div>
      </div>
      <!-- 头部栏end -->

      <!-- 内容栏start -->
      <div class="main">
        <div class="content">
          <div class="content-video">
            <div class="player-box">
              <video align="center"  style="width: 100%; height: 100%; object-fit: contain"
                     autoplay="autoplay"
                     muted="muted"
                     loop="loop"
                     src="images/bytsDance-img/nx2.webm">
                <!-- 备用的视频格式 -->
                您的浏览器不支持 video 标签。
                <!-- 如果是浏览器不支持多媒体标签直接显示这提示 -->
              </video>
            </div>

            <div class="video-word">
              <div class="word1"></div>
              <div class="word2"></div>
              <div class="word3">

              </div>
            </div>
          </div>
          <div class="life1">
            <svg class="svg1"
                 width="159"
                 height="106"
                 fill="none">
<!--              <path d="M112.072 85.277C174.793 60.859 166.641.392 127.432.392 96.712-5.67 20.72 60.216 3.742 85.277c-21.646 31.954 55.378 20.615 108.33 0z"-->
<!--                    fill="currentColor">-->
<!--              </path>-->
            </svg>
            <svg class="svg2"
                 width="159"
                 height="106"
                 fill="none">
              <path d="M112.072 85.277C174.793 60.859 166.641.392 127.432.392 96.712-5.67 20.72 60.216 3.742 85.277c-21.646 31.954 55.378 20.615 108.33 0z"
                    fill="currentColor">
              </path>
            </svg>
            <div class="life-content">
              <div class="word">
                <div class="english"><span></span>Working environment</div>
                <div class="title1">自由平等的工作环境</div>
                <div class="text1"></div>
                <div class="title2">灵活的办公时间，上班不打卡</div>
                <div class="text2">上下班无需打卡，效率为先，你的工作时间由你来安排</div>
                <div class="title3">轻松的办公环境，工位不设限</div>
                <div class="text3">开放式工位，独立讨论区，灵感碰撞不受空间束缚</div>
                <div class="title4">平等的工作氛围，沟通无“大小”</div>
                <div class="text4">大家互相之间以“同学”相称，不讲 title，坦诚的沟通风格帮你更自在地工作</div>
                <div class="title5">鼓励多元，拥抱文化多样性</div>
                <div class="text5">为不同性格、年龄、文化和职业背景的同学，创造多元兼容的环境</div>
              </div>
              <div class="photo">
                <ul>
                  <li></li>
                  <li></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="life2">
            <svg class="svg3"
                 width="159"
                 height="106"
                 fill="none">
              <path d="M112.072 85.277C174.793 60.859 166.641.392 127.432.392 96.712-5.67 20.72 60.216 3.742 85.277c-21.646 31.954 55.378 20.615 108.33 0z"
                    fill="currentColor">
              </path>
            </svg>
            <div class="life-content">
              <div class="word">
                <div class="english"><span></span>Personal growth</div>
                <div class="title1">关注每一位成员的成长</div>
                <div class="text1"></div>
                <div class="title2">前端</div>
                <div class="text2">经验丰富的前端学长学姐担任你的 Mentor，由 Mentor 帮助你完成转换角色、带你融入新环境、帮你规划个性化的成长路径，助你称为前端大神</div>
                <div class="title3">后端</div>
                <div class="text3">后端程序猿师哥带你手撸代码，助你品味精彩的代码生活，让你珍惜每一个“1024”，帮你如何快速融入公司，提升沟通与协作能力,让你体验什么叫“一根烟一壶酒，一个bug改一年”</div>
                <div class="title4">微信小程序</div>
                <div class="text4">小程序提供入门、进阶、高阶体系化课程指导，有学长带你探索小程序奇妙的世界，帮你迅速上手工作，探索小程序的美妙之处</div>
                <div class="title5">Python</div>
                <div class="text5">python学长将带着机器学习与深度学习向你走来，羡慕别人家的爬虫吗？想学习机器视觉吗？想训练自己的机器人吗？那就来吧!</div>
              </div>
              <div class="photo">
                <ul>
                  <li></li>
                  <li></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="life3">
            <svg class="svg4"
                 width="159"
                 height="106"
                 fill="none">
              <path d="M112.072 85.277C174.793 60.859 166.641.392 127.432.392 96.712-5.67 20.72 60.216 3.742 85.277c-21.646 31.954 55.378 20.615 108.33 0z"
                    fill="currentColor">
              </path>
            </svg>
            <div class="life-content">
              <div class="word">
                <div class="english"><span></span>Welfare</div>
                <div class="title1">入职福利</div>
                <div class="title2">财政独立</div>
                <div class="text2">允许员工收入，可实现独立经济能力</div>
                <div class="title3">一流的办公场所</div>
                <div class="text3">宽敞的办公室 +中央空调+ 教育网直联</div>
                <div class="title4">更好的圈子与朋友</div>
                <div class="text4">  接触往届入职学长学姐，互补长短，共同进步</div>
                <div class="title5">优质的学习资源</div>
                <div class="text5">上岸学长亲授考研与保研经验 </div>
              </div>
              <div class="photo">
                <ul>
                  <li></li>
                  <li></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- 返回底部start -->
        <div class="float-home">
          <div class="backTop">
            <span class="icon">
              <svg class=""
                   viewBox="0 0 1024 1024"
                   width="1em"
                   height="1em"
                   fill="currentColor"
                   aria-hidden="true"
                   focusable="false">
                <defs>
                  <style></style>
                </defs>
                <path
                      d="M469.376 240.448v676.864c0 11.776 9.6 21.376 21.312 21.376h42.688c11.776 0 21.312-9.6 21.312-21.376v-677.76l304.896 304.96c8.32 8.32 21.824 8.32 30.144 0l30.208-30.208a21.312 21.312 0 0 0 0-30.144L527.744 91.968a21.312 21.312 0 0 0-24.704-4.032 21.312 21.312 0 0 0-6.144 4.288L104.704 484.48a21.312 21.312 0 0 0 0 30.144l30.144 30.144c8.32 8.32 21.888 8.32 30.208 0l304.32-304.32z">
                </path>
              </svg>
              <div class="code">
                <div class="title">回到顶部</div>
              </div>
            </span>
          </div>
        </div>
        <!-- 返回底部end -->
      </div>
      <!-- 内容栏end -->

      <!-- 底部栏start -->
      <div class="footer">
        <div class="footer-content">
          <div class="footer-container">
            <div class="footer-logo">
              <div class="logo" style="width: 200px;height:45px">
                <img src="images/index/qhlogo.png" height="50px" width="100px"/>
              </div>
              <h2>办公地点：南校区大学生创新创业孵化基地A108</h2>
              <h2>© 2011-2023 版权所有：大学生启航科技开发公司</h2>
              <!--              <h2>京公网安备 11000002002023号 I 京ICP备12025439号-3</h2>-->
            </div>
            <div class="footer-clumn" style="width: 100px">
              <h2>联系我们(QQ群)</h2>
              <div style="margin-left: 55px; width: 100px !important;">
                <img src="images/job-imgae/erweimaQQ.png" height="100" width="100"/>
              </div>
            </div>
            <div class="footer-clumn">
              <h2>相关网站</h2>
              <h3>
                <a href="index.html"
                   rel="noopener noreferrer"
                   target="_blank">
                  报名网站
                </a>
              </h3>
            </div>
            <div class="footer-clumn">
              <h2>实时动态与招聘信息,关注我们</h2>
              <div style="width: 400px;">
                <div style="float:left; margin-left: -35px; width: 100px !important;">
                  <img src="images/job-imgae/erweimaQQ.png" height="100" width="100"/>
                </div>
                <div style="float:right; margin-right: 180px; width: 100px !important;">
                  <img src="images/job-imgae/xcx.png" height="100" width="100"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



      <!-- 底部栏end -->
    </div>

    <!-- 视频弹出框start -->
    <div class="top-video">
      <div class="video-bg"></div>
      <div class="video-box">
        <div class="quit">
          <svg viewBox="0 0 1024 1024"
               version="1.1"
               xmlns="http://www.w3.org/2000/svg"
               p-id="16213"
               width="1em"
               height="1em">
            <path fill="currentColor"
                  d="M509.866667 448L795.733333 160c8.533333-8.533333 21.333333-8.533333 29.866667 0l29.866667 29.866667c8.533333 8.533333 8.533333 21.333333 0 29.866666L569.6 507.733333l285.866667 285.866667c8.533333 8.533333 8.533333 21.333333 0 29.866667L825.6 853.333333c-8.533333 8.533333-21.333333 8.533333-29.866667 0L509.866667 567.466667 224 853.333333c-8.533333 8.533333-21.333333 8.533333-29.866667 0l-29.866666-29.866666c-8.533333-8.533333-8.533333-21.333333 0-29.866667l285.866666-285.866667L162.133333 221.866667c-8.533333-8.533333-8.533333-21.333333 0-29.866667L192 160c8.533333-8.533333 21.333333-8.533333 29.866667 0L509.866667 448z"
                  p-id="16214">
            </path>
          </svg>
        </div>
        <video loop="loop"
               controls="controls">
          <source src="https://sf6-dycdn-tos.pstatp.com/obj/eden-cn/lmeh7pfuho/campus/campus_spread.min.mov"
                  type="video/mp4">
          <!-- 备用的视频格式 -->
          您的浏览器不支持 video 标签。
          <!-- 如果是浏览器不支持多媒体标签直接显示这提示 -->
        </video>
      </div>
    </div>
    <!-- 视频弹出框end -->

  </body>

</html>
